.page-content {
    min-width: 350px;
}

.property {
    margin: 5px;
    border: solid;
    border-radius: 6px;
    border-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.property-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.property-image {
    margin: 5px;
    width: 300px;
    height: 100%;
    border: solid;
    border-radius: 6px;
    border-color: lightgray;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.button {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.back-button {
    width: 100%;
}

.booking {
    margin: 5px;
    border: solid;
    border-radius: 6px;
    border-color: lightcoral;

    display: flex;
    justify-content: center;
    align-items: center;
}

.book-form {
    margin: 5px;
    border: solid;
    border-radius: 6px;
    border-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.book-form-item {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

.book-form-item-item {
    margin: 5px;
}